
.slice--event-group .slice--event {
    height: 100%;
    padding-bottom: 12vh;
    position: relative;
    width: 100%;
}
* {
    outline: none;
}
* {
    box-sizing: border-box;
}
h1{
    padding-top: 12vh;
    color: rgb(109, 140, 109);
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 3rem;
}
article {
    display: flexbox;
    
}
.text-center {
    text-align: center;
}
body {
    background-color: #0c0c0c;
    height: 100vh;
    margin: 0;
    overflow-x: hidden!important;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
style attribute {
    color-scheme: light;
}
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.15;
}

.content--inner{
    background-color: white;
    align-items: center;
    margin: 3vh;
    padding: 3vh;
    color: #0c0c0c;
}
.content{
    padding: 10vh;
    padding-top: 0;
}
.focal-point-center{
    width: 80%;
}
.image-container{
    text-align: center;
}
.link1{
    background-color: purple;
}
.subtitle{
    color: #fff;
    font-size: 0.3rem;
}
.button{
    border: #0c0c0c solid 1px;
    text-align: center;
    background-color: rgb(109, 140, 109);
}
.subtitle:hover{
        color: #2b2d2f;
        font-size: 1rem;
   
}
.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(109, 140, 109);
    border: #0c0c0c solid 1px;
}
.date-location{
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 2vh;
  }
  .item1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item2 {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 3vh;
  }
@media only screen and (max-width: 400px) {
    .title{
        font-size: 1rem;
    }
    body{
        font-size: 0.5em;
        
    }
    .content--inner{
        margin: 1vh;
        padding: 1vh;
    }
    .subtitle{
        font-size: 0.1rem;
    }
    .subtitle:hover{
        color: #2b2d2f;
        font-size: 0.5rem;
   
}
    .content{
        margin: 1vh;
        padding: 1vh;
        padding-top: 0;
    }
    h1{
        font-size: 2rem;
    }
  }

