* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    background-color: #ccc;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    background-image: url("logo.png");
    background-position: left;
    box-shadow: 3px 3px 3px black; 
    display: inline-block; 
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */

  .background1{
    border-top: red 1mm solid;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.3) 30%, transparent 70%);
  }
  .background1 img{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
  }
  .background2 img{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
  }
  .background2{
    border-bottom: red 1mm solid;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw; 
    background: linear-gradient(to top,rgba(0, 0, 0, 0.3) 30%, transparent 70%);
  }

  